.container {
  border: 2px solid red;
}

.header {
  color: black;
  height: 3rem;
  padding-top: 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  /* text-align: center; */
}

.box__container {
  border: 2px solid blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
}

.outer__box {
  display: flex;
  justify-content: center;
  align-items: center;
}
